<form *ngIf="quote" [formGroup]="form">
  <div class="quoteForm-header">
    <legend>{{ isView ? "Quote Details" : "Update Task" }}</legend>
  </div>

  <div class="quoteForm-content">
    <div class="formset">
      <div class="top-row">
        <div class="form-group">
          <label>Quote Type: </label>
          <div>
            <input
              type="text"
              class="form-control"
              name="QuoteType"
              required
              formControlName="QuoteType"
            />
            <div
              *ngIf="
                submitted && form.controls['QuoteType'].hasError('required')
              "
              class="error"
            >
              Quote Type is required
            </div>
          </div>
        </div>

        <div class="form-group" id="form-id">
          <label>QuoteID</label>
          <input
            type="number"
            class="form-control"
            name="QuoteID"
            formControlName="QuoteID"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Task Type: </label>
        <div>
          <input
            type="text"
            class="form-control"
            name="TaskType"
            required
            formControlName="TaskType"
          />
          <div
            *ngIf="submitted && form.controls['TaskType'].hasError('required')"
            class="error"
          >
            Task type is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Contact: </label>
        <div>
          <input
            type="text"
            class="form-control"
            name="Contact"
            required
            formControlName="Contact"
          />
          <div
            *ngIf="submitted && form.controls['Contact'].hasError('required')"
            class="error"
          >
            Contact is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Due Date: </label>
        <!-- [ngModel]="quote.DueDate | date: 'yyyy-MM-dd'" 
        (ngModelChange)="quote.DueDate = $event"
        -->
        <div>
          <input
            formControlName="DueDate"
            type="datetime-local"
            class="form-control"
            name="DueDate"
            required
          />
          <div
            *ngIf="submitted && form.controls['DueDate'].hasError('required')"
            class="error"
          >
            Due date is required
          </div>
        </div>
      </div>

      <div class="form-group" id="textBox">
        <label>Task Description: </label>
        <div>
          <textarea
            name="Task"
            class="form-control textBox"
            required
            formControlName="Task"
          ></textarea>
          <div
            *ngIf="submitted && form.controls['Task'].hasError('required')"
            class="error"
          >
            Task description is required
          </div>
        </div>
      </div>
    </div>

    <div class="btn-section">
      <button
        *ngIf="!isView"
        class="button btn-primary"
        (click)="update(quote.QuoteID, quote)"
      >
      <span class="material-icons-outlined"> save </span>
      Update 
      </button>
      <button
        class="button btn-primary"
        (click)="cancel()"
      >
      <span class="material-icons-outlined"> {{ isView ? 'chevron_left':'cancel' }}</span>
       <span> {{ isView ? "Back" : "Cancel" }}</span>
      </button>
    </div>
  </div>
</form>


 