<form *ngIf="quote">
  <fieldset class="formset">
    <legend>{{ isView ? 'Quote Details' : 'Update Quote'}}</legend>
    <mat-form-field class="form-group">
      <mat-label>QuoteID</mat-label>
      <input
        matInput
        disabled
        type="number"
        class="form-control"
        [(ngModel)]="quote.QuoteID"
        name="QuoteID"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Quote Type: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.QuoteType"
        name="QuoteType"
        required
        [disabled]="isView"
      />
      <mat-error> Quote Type is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Contact: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.Contact"
        name="Contact"
        required
        [disabled]="isView"
      />
      <mat-error> Contact is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Task: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.Task"
        name="Task"
        [disabled]="isView"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Task Type: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.TaskType"
        name="TaskType"
        required
        [disabled]="isView"
      />
      <mat-error> Task type is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Due Date: </mat-label>
      <input
        matInput
        type="date"
        class="form-control"
        [ngModel]="quote.DueDate | date: 'M/d/yy, h:mm a'"
        (ngModelChange)="quote.DueDate = $event"
        name="DueDate"
        required
        [disabled]="isView"
      />
      <mat-error> Due date is required </mat-error>
    </mat-form-field>
  </fieldset>

  <div mat-dialog-actions>
    <button
      mat-stroked-button
      *ngIf="!isView"
      color="primary"
      class="button button-primary"
      (click)="update(quote.QuoteID, quote)"
      [mat-dialog-close]="'updated'"
      cdkFocusInitial
    >
      Update
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="button button-primary"
      (click)="cancel()"
    >
      {{ isView ? "Back" : "Cancel" }}
    </button>
  </div>
</form>
