<form *ngIf="quote" [formGroup]="form">
  <div class="quoteForm-header">
    <legend>{{ isView ? "Quote Details" : "Update Task" }}</legend>
  </div>

  <div class="quoteForm-content">
    <div class="formset">
      <div class="top-row">
        <div class="form-group">
          <label>Quote Type: </label>
          <div>
            <input
              type="text"
              class="form-control"
              name="QuoteType"
              required
              formControlName="QuoteType"
            />
            <div
              *ngIf="
                submitted && form.controls['QuoteType'].hasError('required')
              "
              class="error"
            >
              Quote Type is required
            </div>
          </div>
        </div>

        <div class="form-group" id="form-id">
          <label>QuoteID</label>
          <input
            type="number"
            class="form-control"
            name="QuoteID"
            formControlName="QuoteID"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Task Type: </label>
        <div>
          <input
            type="text"
            class="form-control"
            name="TaskType"
            required
            formControlName="TaskType"
          />
          <div
            *ngIf="submitted && form.controls['TaskType'].hasError('required')"
            class="error"
          >
            Task type is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Contact: </label>
        <div>
          <input
            type="text"
            class="form-control"
            name="Contact"
            required
            formControlName="Contact"
          />
          <div
            *ngIf="submitted && form.controls['Contact'].hasError('required')"
            class="error"
          >
            Contact is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Due Date: </label>
        <!-- [ngModel]="quote.DueDate | date: 'yyyy-MM-dd'" 
        (ngModelChange)="quote.DueDate = $event"
        -->
        <div>
          <input
            formControlName="DueDate"
            type="date"
            class="form-control"
            name="DueDate"
            required
          />
          <div
            *ngIf="submitted && form.controls['DueDate'].hasError('required')"
            class="error"
          >
            Due date is required
          </div>
        </div>
      </div>

      <div class="form-group" id="textBox">
        <label>Task Description: </label>
        <div>
          <textarea
            name="Task"
            class="form-control textBox"
            required
            formControlName="Task"
          ></textarea>
          <div
            *ngIf="submitted && form.controls['Task'].hasError('required')"
            class="error"
          >
            Task description is required
          </div>
        </div>
      </div>
    </div>

    <div class="btn-section">
      <button
        mat-stroked-button
        *ngIf="!isView"
        color="primary"
        class="button button-primary"
        (click)="update(quote.QuoteID, quote)"
      >
        Update
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="button button-primary"
        (click)="cancel()"
      >
        {{ isView ? "Back" : "Cancel" }}
      </button>
    </div>
  </div>
</form>

<!-- <div class="quoteForm-content">
  <div class="formset">
    <div class="top-row">
      <mat-form-field class="form-group">
        <mat-label>Quote Type: </mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          [(ngModel)]="quote.QuoteType"
          name="QuoteType"
          required
          [disabled]="isView"
        />
        <mat-error> Quote Type is required </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>QuoteID</mat-label>
        <input
          matInput
          disabled
          type="number"
          class="form-control"
          [(ngModel)]="quote.QuoteID"
          name="QuoteID"
        />
      </mat-form-field>
    </div>

    <mat-form-field class="form-group">
      <mat-label>Task Type: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.TaskType"
        name="TaskType"
        required
        [disabled]="isView"
      />
      <mat-error> Task type is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Contact: </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.Contact"
        name="Contact"
        required
        [disabled]="isView"
      />
      <mat-error> Contact is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label >Due Date: </mat-label>
      
        <input
        matInput
        type="date"
        class="form-control"
        [ngModel]="quote.DueDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="quote.DueDate = $event"
        name="DueDate"
        required
        [disabled]="isView"
      />
      <mat-error> Due date is required </mat-error>
    
      
    </mat-form-field>

    <mat-form-field class="textBox">
      <mat-label>Task Description: </mat-label>
      <textarea
        matInput
        name="Task"
        class="form-control textBox"
        [(ngModel)]="quote.Task"
        [disabled]="isView"
      ></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="btn-section">
    <button
      mat-stroked-button
      *ngIf="!isView"
      color="primary"
      class="button button-primary"
      (click)="update(quote.QuoteID, quote)"
      [mat-dialog-close]="'updated'"
      cdkFocusInitial
    >
      Update
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="button button-primary"
      (click)="cancel()"
    >
      {{ isView ? "Back" : "Cancel" }}
    </button>
  </div>
</div> -->
