form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quoteForm-header{
    background-color:#015A86;
    height: 40px;
    padding-left:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quoteForm-header legend{
    color:white;
}

.quoteForm-content{
    padding: 30px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formset{
    display:flex;
    flex-direction:column;
   
}

.form-group input {
    width:300px;  
    border: 1px solid rgba(199, 199, 199, 0.986);
    height: 30px;
}

.form-group label{
    font-size:16px;
    font-weight: bold;
   color: #495A65;
}

.form-group{
    width: 500px;
    display: flex;
    margin:10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

#form-id{
    width:200px;
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}

#form-id input{
    width: 100px;
}

.top-row{
    display: flex;
    flex-wrap: wrap;
}

#textBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

textarea{
    height: 150px;
    width: 100%;
}

.btn-section{
    display: flex;
    justify-content: flex-end;
}

.button{
    width: 100px;
    margin-left:20px;
}

.error{
    color:rgba(255, 57, 57, 0.582)
}










 