<h3>THIS IS REGISTER</h3>

<form [formGroup]="form">
  <fieldset>
    <legend>Register</legend>
    <div class="form-field">
      <label>Username/Email</label>
      <input name="email" formControlName="email" />
      <div *ngIf="submitted && formValue.email.errors">
        <div *ngIf="formValue.email.errors.required">
          User email is required
        </div>
        <div *ngIf="formValue.email.errors.email">
          Please enter in email format
        </div>
      </div>
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password" />
      <div *ngIf="submitted && formValue.password.errors">
        <div
          [ngClass]="
            formValue.password.errors.required ||
            formValue.password.errors.minlength
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i
            >{{
              formValue.password.errors.required ||
              formValue.password.errors.minlength
                ? "cancel"
                : "check_circle"
            }}
          </i>
          The Password must be at least 6 characters long!
        </div>

        <div
          [ngClass]="
            formValue['password'].hasError('hasNumber')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i
            >{{
              formValue["password"].hasError("hasNumber")
                ? "cancel"
                : "check_circle"
            }}
          </i>
          The Password must contain at least 1 digit (0-9)!
        </div>

        <div
          [ngClass]="
            formValue['password'].hasError('hasCapitalCase')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i
            >{{
              formValue["password"].hasError("hasCapitalCase")
                ? "cancel"
                : "check_circle"
            }}
          </i>
          The Password must contain at lease one capitalcase letter (A-Z)!
        </div>

        <div
          [ngClass]="
            formValue['password'].hasError('hasSmallCase')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i
            >{{
              formValue["password"].hasError("hasSmallCase")
                ? "cancel"
                : "check_circle"
            }}
          </i>
          The Password must contain at lease one lowercase letter (a-z)!
        </div>

        <div
          [ngClass]="
            formValue['password'].hasError('hasSpecialCase')
              ? 'text-danger'
              : 'text-success'
          "
        >
          <i
            >{{
              formValue["password"].hasError("hasSpecialCase")
                ? "cancel"
                : "check_circle"
            }}
          </i>
          The Password must contain at lease one special character!
        </div>
      </div>
    </div>

    <div class="form-field">
      <label>Confirm Password:</label>
      <input
        name="confirmPassword"
        formControlName="confirmPassword"
        type="password"
      />
      <div *ngIf="submitted">
        <div
          *ngIf="
            formValue['confirmPassword'].hasError('required') ||
            (form.errors && form.errors.mustMatch)
          "
        >
          The confirmPassword doesn't match password
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary" (click)="register()">Register</button>
  </div>
  <div *ngIf="error">
    {{ error }}
  </div>
</form>
