<h3>THIS IS REGISTER</h3>

<!-- <form [formGroup]='form'>
    <fieldset>
        <legend>Register</legend>
        <div class='form-field'>
            <label>Username/Email</label>
            <input name="Username" formControlName="userName" />
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" type="password" />
        </div>
        <div class="form-field">
            <label>Confirm Password:</label>
            <input name="ConfirmPassword" formControlName="ConfirmPassword" type="password" />
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="register()">Register</button>
    </div>

</form> -->