<div class="credential">
  <form [formGroup]="form">
    <fieldset class="example-form">
      <legend>Register</legend>

      <mat-form-field class="form-field">
        <mat-label>Username/Email</mat-label>
        <input matInput name="email" formControlName="email" />
        <mat-error *ngIf="submitted && formValue.email.errors">
          <div *ngIf="formValue.email.errors.required">
            User email is required
          </div>
          <div *ngIf="formValue.email.errors.email">
            Please enter in email format
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [ngClass]="
          submitted && formValue.password.errors
            ? 'password-errors'
            : 'form-field'
        "
      >
        <mat-label>Password:</mat-label>
        <input
          matInput
          name="password"
          formControlName="password"
          type="password"
        />
        <mat-error *ngIf="submitted">
          <div
            [ngClass]="
              formValue.password.errors.required ||
              formValue.password.errors.minlength
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i class="material-icons"
              >{{
                formValue.password.errors.required ||
                formValue.password.errors.minlength
                  ? "cancel"
                  : "check_circle"
              }}
            </i>
            The Password must be at least 6 characters long!
          </div>

          <div
            [ngClass]="
              formValue['password'].hasError('hasNumber')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i class="material-icons"
              >{{
                formValue["password"].hasError("hasNumber")
                  ? "cancel"
                  : "check_circle"
              }}
            </i>
            The Password must contain at least 1 digit (0-9)!
          </div>

          <div
            [ngClass]="
              formValue['password'].hasError('hasCapitalCase')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i class="material-icons"
              >{{
                formValue["password"].hasError("hasCapitalCase")
                  ? "cancel"
                  : "check_circle"
              }}
            </i>
            The Password must contain at lease one capitalcase letter (A-Z)!
          </div>

          <div
            [ngClass]="
              formValue['password'].hasError('hasSmallCase')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i class="material-icons"
              >{{
                formValue["password"].hasError("hasSmallCase")
                  ? "cancel"
                  : "check_circle"
              }}
            </i>
            The Password must contain at lease one lowercase letter (a-z)!
          </div>

          <div
            [ngClass]="
              formValue['password'].hasError('hasSpecialCase')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i class="material-icons"
              >{{
                formValue["password"].hasError("hasSpecialCase")
                  ? "cancel"
                  : "check_circle"
              }}
            </i>
            The Password must contain at lease one special character!
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Confirm Password:</mat-label>
        <input
          matInput
          name="confirmPassword"
          formControlName="confirmPassword"
          type="password"
        />
        <mat-error
          *ngIf="
            submitted && formValue['confirmPassword'].hasError('mustMatch')
          "
        >
          The confirmPassword doesn't match password
        </mat-error>
      </mat-form-field>
    </fieldset>
    <div class="form-buttons">
      <a mat-button routerLink="/login"> Back </a>
      <button
        mat-stroked-button
        color="primary"
        class="button button-primary"
        (click)="register()"
      >
        Register
      </button>
    </div>
    <div *ngIf="error">
      {{ error }}
    </div>
  </form>
</div>
