
<form >
  <fieldset class="formset">
    <legend>Quote Details</legend>
    <mat-form-field class="form-group">
      <mat-label>QuoteID</mat-label>
      <input
      matInput
      disabled
        type="number"
        class="form-control"
        [(ngModel)]="quote.QuoteID"
        name="QuoteID"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label >Quote Type: </mat-label>
      <input matInput
        type="text"
        class="form-control"
        [(ngModel)]="quote.QuoteType"
        name="QuoteType"
        required
      />
      <mat-error>
        Quote Type is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
        <mat-label>Contact: </mat-label>
        <input matInput
          type="text"
          class="form-control"
          [(ngModel)]="quote.Contact"
          name="Contact"
          required
        />
        <mat-error>
          Contact is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label >Task: </mat-label>
        <input matInput
          type="text"
          class="form-control"
          [(ngModel)]="quote.Task"
          name="Task"
          
        />
     
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Task Type: </mat-label>
        <input matInput
          type="text"
          class="form-control"
          [(ngModel)]="quote.TaskType"
          name="TaskType"
          required
        />
        <mat-error>
          Task type is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label >Due Date: </mat-label>
        <input matInput
          type="date"
          class="form-control"
          [ngModel]="quote.DueDate| date:'yyyy-MM-dd'" (ngModelChange)="quote.DueDate = $event" name="DueDate"
          required
        />
        <mat-error>
          Due date is required
        </mat-error>
      </mat-form-field>
    </fieldset>

      <div>
      <button mat-stroked-button color='primary' class="button button-primary" (click)='cancel()'>
        BACK 
      </button>
      </div>
      
  </form>