
<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <mat-form-field class="form-field">
      <mat-label>Email/UserName:</mat-label>
      <input matInput name="Username" formControlName="userName" />
      <mat-error>
        Please enter userName
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password:</mat-label>
      <input matInput name="password" formControlName="password" type="password" />
      <mat-error>
        Please enter Password
      </mat-error>
    </mat-form-field>
    <p style ='color: rgb(243, 75, 75)' class = "errorMessage" *ngIf = 'error'> {{error}}</p>
  </fieldset>
  <div class="form-buttons">
    <button mat-stroked-button color='primary'class="button button-primary" (click)="login()">Login</button>
    <a
      mat-stroked-button color='primary'
      class="button button-primary"
      routerLink="/register"
    >
      Register</a>
  </div>
  
</form>
