<h3>THIS IS LOGIN</h3>

<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>Username:</label>
      <input name="Username" formControlName="userName" />
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password" />
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary" (click)="login()">Login</button>
    <a
      class="button button-primary"
      routerLink="/register"
    >
      Register</a>
  </div>
</form>
