
<form [formGroup]="form">
    <fieldset class='formset'>
      <legend>Create a quote</legend>
      <mat-form-field Details class="form-group">
        <mat-label>Quote Type:</mat-label>
        <input matInput name="QuoteType" formControlName="QuoteType" required/>
        <div>
          
        </div>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Contact:</mat-label>
        <input matInput name="Contact" formControlName="Contact" required />
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Task:</mat-label>
        <input matInput name="Task" formControlName="Task" />
      </mat-form-field>


      <mat-form-field class="form-group">
        <mat-label>Task Type:</mat-label>
        <input required matInput name="TaskType" formControlName="TaskType" />
      </mat-form-field>


      <mat-form-field class="form-group">
        <mat-label>DueDate:</mat-label>
        <input required matInput type= 'date' name="DueDate" formControlName="DueDate" />
      </mat-form-field>
    </fieldset>
    <div class="form-buttons">
      <a mat-button color='primary' routerLink = '/quotes'> Back </a>
      <button mat-raised-button color='primary' type = "submit" class="button button-primary" (click)="create()">Create</button>
    </div>
    
  </form>