<!-- <filter-textbox (changed)="filter($event)"></filter-textbox> -->
<div>
  <button mat-button (click)="logout()">Logout</button>
  <button mat-raised-button color="primary" routerLink="/create-quote">
    Create a Quote
  </button>
</div>

<br />
<br />

<div class="quotes-header-menu">
  <div class="quotes-header">
    <div id="select-entries">
      Show
      <select type="number" [ngModel]="selectedValue" (ngModelChange) = 'pageConfigChanged($event)'>
        <option *ngFor="let r of rows" [ngValue]="r" >{{ r }}</option>
      </select>
      entries
    </div>
  </div>

  <div class="quotes-header">
    <div id="order-by">
      <span>Order by:</span>
      <select type="number" [ngModel]="selectedOrder"  (ngModelChange) = 'sort($event)' >
        <option
          *ngFor="
            let title of displayedColumns.slice(0, displayedColumns.length - 1)
          "
          [ngValue]="title"
        >
          <div *ngIf="title !== 'Ops'">
            {{ title }}
          </div>
        </option>
      </select>
      Descending:
      <input type="checkbox" [ngModel]="isDesc" (ngModelChange) = 'desc($event)' />
    </div>

    <div id="search">
      Search:
      <app-filter (changed)="filter($event)"></app-filter>
    </div>
  </div>
</div>


<table>
  <th *ngFor = 'let title of displayedColumns'>
    {{title === "Ops"? " " : title}}
  </th>

  <tr *ngFor = "let row of filteredQuoteList | paginate:PageConfig">
    <td>{{row.QuoteID}}</td>
    <td>{{row.QuoteType}}</td>
    <td>{{row.Contact}}</td>
    <td>{{row.Task}}</td>
    <td>{{row.TaskType}}</td>
    <td>{{row.DueDate | date: "MM-dd-yyyy" }}</td>
    <td>
      <button
      mat-stroked-button
      color="primary"
      (click)="view(row.QuoteID)"
    >
      View
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="updateModal(row.QuoteID)"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="delete(row.QuoteID)"
    >
      Delete
    </button>
    </td>
  </tr>

</table>
<div>
  <div>
    showing {{startItem }} to {{endItem}} of {{filteredQuoteList.length}} items
  </div>
  <pagination-controls (pageChange) = "pageChanged($event)"></pagination-controls>
</div>




<!-- <table mat-table [dataSource]="filteredQuoteList" mat-class="mat-elevation-z8">
 
  
  <ng-container matColumnDef="QuoteID">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element ">{{ element.QuoteID }}</td>
  </ng-container>

  
  <ng-container matColumnDef="QuoteType">
    <th mat-header-cell *matHeaderCellDef>Quote Type</th>
    <td mat-cell *matCellDef="let element">{{ element.QuoteType }}</td>
  </ng-container>

  
  <ng-container matColumnDef="Contact">
    <th mat-header-cell *matHeaderCellDef>Contact</th>
    <td mat-cell *matCellDef="let element">{{ element.Contact }}</td>
  </ng-container>

  
  <ng-container matColumnDef="Task">
    <th mat-header-cell *matHeaderCellDef>Task</th>
    <td mat-cell *matCellDef="let element">{{ element.Task }}</td>
  </ng-container>

  
  <ng-container matColumnDef="TaskType">
    <th mat-header-cell *matHeaderCellDef>Task Type</th>
    <td mat-cell *matCellDef="let element">{{ element.TaskType }}</td>
  </ng-container>

 
  <ng-container matColumnDef="DueDate">
    <th mat-header-cell *matHeaderCellDef>DueDate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.DueDate | date: "MM-dd-yyyy" }}
    </td>
  </ng-container>

  
  <ng-container matColumnDef="Ops">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
           <button
        mat-stroked-button
        color="primary"
        (click)="view(element.QuoteID)"
      >
        View
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="updateModal(element.QuoteID)"
      >
        Edit
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="delete(element.QuoteID)"
      >
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table> -->



