/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

.credential{
    display: flex;
    justify-content: center;
}

.form-buttons{
    display: flex;
    justify-content: center;
}

form {
  width:500px
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px 3%;
}

legend {
  font-size: 18pt;
  font-weight: 400;
  color: grey;
}

.custom-dialog-container .mat-dialog-container {
  /* add your styles */
  padding: 0;
}







